/* :root {
  --padding-left: 15px;
  --padding-right: 15px;
} */

/* start global rules */
* {
  margin: 0;
  box-sizing: border-box;
  /* border: none !important; */
}

#page {
  width: 100%;
  border: 1px solid red;
  font-family: "Poppins", sans-serif;
  line-height: 22px;
}

.container {
  height: inherit;
  border: 1px solid yellow;
  margin-right: auto;
  margin-left: auto;
  color: white;
  padding: 0 10px;
  font-size: 12px;
  display: flex;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */

/* start header */
header {
  width: 100%;
  height: 205.91px;
  background-color: #0083c1;
}

/* start top header */
#header-top {
  width: 100%;
  height: 46.91px;
  border: 1px solid black;
}

#header-top .container .login {
  width: 25%;
  min-width: 287px;
  height: 100%;
  border: 1px solid rgb(187, 22, 124);
  padding: 0 15px;
  display: flex;
  align-items: center;
  margin-left: 0;
}

#header-top .container .login a {
  text-decoration: none;
  color: white;
  margin: 0 3px;
  font-weight: bold;
}

#header-top .container .login a:hover {
  text-decoration: underline;
}

#header-top #contact {
  display: flex;
  align-items: center;
  border: 1px solid rgb(187, 22, 124);
}

.mid-top-header {
  width: 60%;
  min-width: 302px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(247, 0, 0);
}

.mid-top-header .contact i {
  font-size: 11px;
}

.mid-top-header .contact span {
  display: inline-block;
  padding: 0 2px;
}

.mid-top-header .contact a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.mid-top-header .contact a:hover {
  text-decoration: underline;
}

.mid-top-header .account {
  position: relative;
  cursor: pointer;
  width: 16%;
  min-width: 91px;
}

.mid-top-header .account ul {
  position: absolute;
  background-color: white;
  border-radius: 4px;
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 12px;
  left: -19px;
  top: calc(100% + 5px);
  z-index: 1;
  display: none;
}

.mid-top-header .account:hover ul {
  display: block;
}

.mid-top-header li:hover {
  color: blue;
}

.mid-top-header .account ul li {
  display: block;
  margin: 0 20px;
  padding: 3px 0;
}

.right-top-header {
  border: 1px solid rgb(33, 219, 8);
  width: 15%;
  min-width: 142px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right-top-header .lang-sel {
  position: relative;
  cursor: pointer;
}

.right-top-header .lang-sel span {
  display: inline-block;
  padding: 5px 20px 5px 7px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 5px;
}

.right-top-header .lang-sel:hover span {
  background-color: #00567e;
  border: 1px solid #00567e;
}

.right-top-header .lang-sel span::after {
  content: "";
  position: absolute;
  border: 4px solid;
  border-color: white transparent transparent transparent;
  right: 7px;
  top: 14px;
  transition: 0.4s;
}

.right-top-header .lang-sel:hover ::after {
  top: 18px;
}

.right-top-header .lang-sel ul {
  position: absolute;
  width: 100px;
  height: 120px;
  background-color: white;
  border-radius: 4px;
  color: black;
  list-style-type: none;
  padding: 12px;
  z-index: 1;
  display: none;
}

.right-top-header .lang-sel:hover ul {
  display: grid;
  align-content: space-around;
}

.right-top-header .lang-sel ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-top-header .lang-sel ul li a:hover {
  color: blue;
}

.right-top-header .lang-sel ul li:not(:last-child) a {
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
}

.right-top-header .lang-sel ul li img {
  width: 25px;
}

.right-top-header .currency-sel {
  position: relative;
  cursor: pointer;
}

.right-top-header .currency-sel span {
  display: inline-block;
  padding: 5px 20px 5px 7px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 5px;
}

.right-top-header .currency-sel:hover span {
  background-color: #00567e;
  border: 1px solid #00567e;
}

.right-top-header .currency-sel span::after {
  content: "";
  position: absolute;
  border: 4px solid;
  border-color: white transparent transparent transparent;
  right: 7px;
  top: 14px;
  transition: 0.4s;
}

.right-top-header .currency-sel:hover ::after {
  top: 18px;
}

.right-top-header .currency-sel ul {
  position: absolute;
  width: 55px;
  height: 120px;
  background-color: white;
  border-radius: 4px;
  color: black;
  list-style-type: none;
  padding: 12px;
  z-index: 1;
  display: none;
}

.right-top-header .currency-sel:hover ul {
  display: grid;
  align-content: space-around;
}

.right-top-header .currency-sel ul li a {
  text-decoration: none;
  color: black;
}

.right-top-header .currency-sel ul li a:hover {
  color: blue;
}

.right-top-header .currency-sel ul li:not(:last-child) a {
  border-bottom: 1px solid #eee;
  padding-bottom: 7px;
}

/* end top header */

/* start middle header */
#header-middle {
  width: 100%;
  height: 105px;
  border: 1px solid black;
}

#header-middle .logo {
  border: 1px solid rgb(245, 6, 6);
  width: 22.5%;
  min-width: 213px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: 0px 2px 7px 0px #ddd;
}

#header-middle .search-box {
  border: 1px solid rgb(245, 6, 6);
  width: 77.5%;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
}

#header-middle .search-box .cat-sel {
  border: 1px solid rgb(5, 5, 5);
  width: 22.5%;
  min-width: 155px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header-middle .search-box .cat-sel select {
  max-width: 170px;
  width: 100%;
  height: 44px;
  margin: 0 5px;
  background-color: #00608e;
  color: white;
  padding-left: 25px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

#header-middle .search-box .text-search {
  border: 1px solid rgb(5, 5, 5);
  width: 50%;
  min-width: 199px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header-middle .search-box .text-search .search {
  max-width: 430px;
  width: 100%;
  height: 44px;
  position: relative;
}

#header-middle .search-box .text-search .search input {
  width: inherit;
  height: inherit;
  background-color: #00608e;
  color: white;
  padding-left: 30px;
  border: 0;
  border-radius: 4px;
}

#header-middle .search-box .text-search .search input::placeholder {
  color: white;
}

#header-middle .search-box .text-search .search .search-icon {
  position: absolute;
  right: 20px;
  top: 28%;
  font-size: 18px;
}

#header-middle .search-box .mini-cart {
  border: 1px solid rgb(5, 5, 5);
  width: 26.5%;
  min-width: 175px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

#header-middle .search-box .mini-cart .cart-count {
  position: relative;
}

#header-middle .search-box .mini-cart .cart-icon {
  background-color: #003e5b;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
}

#header-middle .search-box .mini-cart .cart-num {
  position: absolute;
  background-color: white;
  color: #00608e;
  font-weight: 600;
  min-width: 22px;
  height: 24px;
  border-radius: 6px;
  text-align: center;
  line-height: 27px;
  top: calc(50% - 13px);
  left: -16px;
}

#header-middle .search-box .mini-cart a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 17px;
  color: white;
}

#header-middle .search-box .mini-cart a .total-price {
  margin-right: 8px;
}

/* end middle header */

/* end header */
